<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="ServiceName" value="[Service Name]" />
		<add key="ServiceNiceName" value="[Service Nice Name]" />
		<add key="ServiceDescription" value="[Service Description]" />
		<add key="SQLConnectionString" value="[Connection String]" />
		<add key="LoggingFolder" value="[Logging Folder]" />
		<add key="FlagFolder" value="[Flag Folder]" />
		<add key="AttachmentConfig" value="[Attachment Config Folder]" />
		<add key="MasterFolder" value="[CSV Master Folder Location]" />
		<add key="EmailType" value="[Domain/Local]" />
		<add key="EmailAddress" value="[EmailAddress]" />
		<add key="Domain" value="[Domain]" />
		<add key="EmailPassword" value="[if Local, Password]" />
		<add key="AwaitingExchangeFolder" value="[Awaiting Folder Name]" />
		<add key="ProcessedSuccessExchangeFolder" value="[Successful Folder Name]" />
		<add key="ProcessedFailedExchangeFolder" value="[Failed Folder Name]" />
		<add key="CSVHeaderStartPosition" value="[CSV Start Position of Headers (2)?]" />
		<add key="TimerValue" value="[1000 p/s]" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>